@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500&display=swap');

* {/* configuracion inicial para que se aplique en general */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    text-decoration: none;
}
body {
background-color: rgb(231, 226, 226);
}
.encabezado {
    padding: 25px 10px;
    background-color: #222222;
    color: #39B24A;
    display: flex; /* alinea a los divs de forma horizontal*/
    flex-direction: row;
   height: 100px;
}

.menu_icon {
position: absolute;
top: 40px;
right: 20px;
font-size: 24px;
cursor: pointer;
}

.pizza_front {
padding: 10px;
}
.white {
    color: white;
}
.red {
    color:#FC200C;
}
.front {
    color: #FC200C;
}
.bx {color: white;
}
.green {
color: #39B24A;
}
.imagen {
width: 92px;
height: 80px;
position: relative;
bottom: 15px;
}
.container {
padding-top: 30px; 
display: flex;
flex-direction: column;
align-items: center;
width: 360px;
height: 330.75px;
border-radius: 5px;
background-color: #FFFFFF;
color: #FC200C;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 8px;
margin-right: 0px;
}
.card_content {
text-align: left;
color: #222222;
font-weight: 700;
position: relative;
right: 65px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}
.top_five {
padding-top: 40px;
position: relative;
right: 90px;
color: #222222;
font-weight: 700;
}
.ingredientes img {
    position: relative;
    width: 86.94px;
    height: 100%;
    left: 200px;
}

.lista {
position: relative;
left: 30px;
bottom: 110px;
text-align: left;
font-weight: 700;
}
.envio_gratis h2{
font-size: 20px;

}
.container2 {
    padding-top: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 330.75px;
    border-radius: 5px;
    background-image: url('/IMG/delivery.jpg');
    background-position: center;
    color: #FC200C;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    z-index: -1;
    }
    .compra {
    color: #FFFFFF;
    }
    .pie {
    height: 84px;
    background-color: #222222;
    padding: 25px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    right: 25px;
        }
    .nav a {
    text-decoration: none;
    color: #F3F3F3;   
    margin-right: 10px; 
    font-weight: 400;
    font-size: 10px;
    
    }
    .abajo {
    font-weight: 700;
    font-size: 20px;
    margin-right: 130px;
    }
    .contacto  {
    display: none;
    position: absolute;
    top: 55px;
    right: 20px;
        }
    .pizza_front_bottom h3 {
    position: relative;
    left: 10px;
    }
    /* media query: ordena que a partir de 767px-o el valor que quieras- aparezca o desparezcan elementos o cambien su ubicacion */
    @media screen and (min-width: 767px) {
        .contacto {
        display: flex;
        flex-direction: row;
        align-items: center;
        }
        .menu_icon {
            display: none;
                 
        }
        main {
        display: flex;
       padding-left: 19px;
       padding-right: 19px;
        }
        .container2,
        .container {
           flex: 1;
           
        } 
        .container {
        order: 1;
        margin-left: 0;
        width: 491px;
        }
        .container2 {
        order: 0;
        margin-right: 0;
        background-size: cover;
        background-position: 30px 10%;
        background-repeat: no-repeat;
        margin-right: 10px;   
        }
        .nav ul{
position: relative;
right: 1100px;
font-size: 18px;
cursor: pointer; 
color: #F3F3F3;
text-decoration: none;
 }
.abajo {
 font-weight: 700;
font-size: 20px;
margin-right: 40px;
}
.imagen_pie {
    width: 92px;
    height: 80px;
    position: relative;
    left: 1070px; 
       
}
.pizza_front_bottom {
    position: relative;
    left: 570px;
}
.envio_gratis h2{
position: relative;
font-size: 23px;
bottom: 12px;
    }
.contacto ul {
/*importante que el selector nombre ul para afectar los cambios*/
position: relative;
bottom: 20px;
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: row;
}
.contacto a {
/*importante que el selector nombre a para dar estilo y formato a cada boton*/
text-decoration: none;
color: #F3F3F3;
margin-right: 15px;
font-weight: 400;
display: block;
padding: 10px;
top: 40px;
}
.imagen_pie {
    width: 92px;
    height: 80px;
    color: #F3F3F3;
     
}
.pizza_front_bottom {
padding-left: 20px;
}
.pie {
height: 150px;
}

.nav {
position: relative;
right: 100px;
}
.nav a {
font-size: 16px;
}
.nav li {
padding: 5px 0;
}
.top_five {
    padding-top: 40px;
    position: relative;
    left: -200px;
    color: #222222;
    font-weight: 700;
    }
    .ingredientes img {
        position: relative;
        width: 100px;
        height: 100%;
        left: 310px;
    }
    }